#Intimist-place-main {
    position: relative;
    top: -36rem;
    #Background {
    background: url(../../../../../assets/customSVG/curvy-bg-test.svg);
    background-size: 100% 600px;
    height: 600px;
    margin: 5rem 0px;
    }
}