.opening-container-component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0;
  margin-left: 0;
  .opening-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h3 {
      font-size: 80px;
    }
    .opening-logo {
      display: flex;
      justify-content: center;
      width: 50%;
      .opening-logo-bg {
        border-radius: 50%;
        background-color: black;
        width:480px;
        height: 480px;
        h3 {
          margin: -12% 0;
        }
      }
    }
    .opening-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      h3 {
        margin-bottom: 0;
      }
      h4 {
        font-size: 30px;
      }
      .opening-text-date, p, strong {
        color: black;
      }
      p {
        text-align: center;
      }
    }
  }
}