#Event-date-component {
  width: 100%;
  h4 {
    font-family: "bod72b", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    @media all and (min-width: 450px) {
      font-size: 38px;
    }
  }
  .black-horizontal-separator {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 2em;
  }
  @media all and (max-width: 450px) {
    font-size: 25px;
  }
}
