.event-date-component {
    width: 100%;
    h4 {
        font-family: 'BodoniSvtyTwoITCTT', sans-serif;
        font-size: 38px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin: 0;
    }
    .black-horizontal-separator {
        width: 100%;
        margin-top: .2em;
        margin-bottom: 2em;
    }
}