@import "@/styles/_icons.scss";
#Event-component {
  color: #393939;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  .event-trumpet-icon {
    width: 15%;
  }
  .event-infos-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    .event-infos-image {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .event-infos-content {
      width: 40%;
    }
  }
}