@import '@/styles/_icons.scss';
.event {
    color: #393939;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;

    .event-image {
        width: 50%;
        img {
            width: 65%;
        }
    }
    .event-infos {
        text-align: start;
        width: 40%;

        .home-event-infos{
            .home-event-date {
                color: $strawberry;
                font-size: 22px;
                margin-top: 0;
                margin-bottom: 25px;
            }
            .home-event-type {
                color: $light-grey;
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        .home-event-separator {
            border-bottom: 1px solid black;
            margin-left: 0;
            width: 50%;
        }

        .event-secondary-infos {
            .event-secondary-infos-artist {
                font-size: 22px;
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
    }

    .event-icons {
        display: flex;
        flex-direction: row;
        .event-icons-item {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: fit-content;
            .clock-icon {
                @include clock-icon(black);
                margin-top: 15px;
            }
            .clock-icon:before {
                @include clock-icon-before;
            }
            .clock-icon::after {
                @include clock-icon-after;
            }
            .stamp-icon {
                @include stamp-icon(black);
                margin-top: 15px;
            }
            .stamp-icon:before {
                @include stamp-icon-before;
            }
            .stamp-icon:after {
                @include stamp-icon-after;
            }
            p {
                margin-left: 8px;
            }
            .event-price-info {
                margin-left: 65px;
            }
        }
    }
}