.infos-club-main {
  
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    p {
        font-family: 'FrutigerLTStd-Roman';
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #5b5b5b;
        width: 40%;
        text-align: left; 
    

    }

}