.home-opening {
    margin-left: 0;
}
.taties-header {
    margin-left: 15%;
    padding-left: 12px;
    text-align: start;
}
.main-event {
    border-top: 2px solid black;
    color: black;
    display:flex;
    font-size: 22px;
    justify-content: center;

    .main-event-title {
        background: white;
        margin-top: -15px;
        padding-left: 20px;
        text-align: start;
        width: 70%;
    }
}

.home-social-media {
    font-size: 26px;
    color: black;
    margin-bottom: 20px;
    span {
        color: $strawberry;
    }
    .home-social-media-icons {
        justify-content: center;
        img {
            padding: 2%;
        }
    }
    .home-img-gallery {
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        img {
            margin-left: 10px;
            width: 23%;
        }
    }
}