$strawberry:#fd2232;
// Curvy background colors
$lightorangegradient: #e03600;
$darkerorangegradient: #be1900;
// Additional background shape colors
$lightpinkgradient: #fb2929;
$darkerpinkgradient:#ff193e;
// Grey separator & border button
$middleGrey: #979797;
$light-grey: #a9a9a9;
// Additional themed colors
$golden-yellow: #ffca1f;
$brownish-grey: #5e5e5e;
$tealish: #24cbd0;
// Text article, grey
$text-article: #5b5b5b