$strawberry:#fd2232;
// Curvy background colors
$lightorangegradient: #e03600;
$darkerorangegradient: #be1900;
// Additional background shape colors
$lightpinkgradient: #fb2929;
$darkerpinkgradient:#ff193e;
// Grey separator & border button
$middleGrey: #979797;