@font-face {
  font-family: 'bod72b';
  src: url(~@/assets/fonts/bod72b--.ttf) format('truetype');
  }
@font-face {
  font-family: 'FrutigerLTStd';
  src: url(~@/assets/fonts/FrutigerLTStd-Roman.ttf) format('truetype');
}
@font-face {
  font-family: 'BradleyHandITCTT';
  src: url(~@/assets/fonts/bradley_hand_itc_tt_bold.ttf) format('truetype');
}
@font-face {
  font-family: 'BodoniSvtyTwoITCTT';
  src: url(~@/assets/fonts/Bodoni_SvtyTwo_ITC_TT_Book.ttf) format('truetype');
}
@font-face {
  font-family: 'Avenir';
  src: url(~@/assets/fonts/AvenirLTStd-Book.otf) format('truetype');
}

// /!\ PROD /!\ bradley_hand is a licencied font, need to change the source or display
// their url !