@font-face {
    font-family: 'title-font';
    src: url(~@/assets/fonts/bod72b--.ttf) format('truetype');
  }
@font-face {
    font-family: 'text-font';
    src: url(~@/assets/fonts/FrutigerLTStd-Roman.ttf) format('truetype');
}
