// Clock icon
@mixin clock-icon($color) {
    color: $color;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    position: relative;
    border: solid 1px currentColor;
    border-radius: 8px;
}
@mixin clock-icon-before {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 5px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
}
@mixin clock-icon-after {
        content: '';
        position: absolute;
        top: 2px;
        left: 7px;
        width: 1px;
        height: 6px;
        background-color: currentColor;
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
}

  // Mail icon
@mixin mail-icon($color) {
        color: $color;
        position: absolute;
        margin-left: 2px;
        margin-top: 2px;
        width: 15px;
        height: 10px;
        border-radius: 1px;
        border: solid 1px currentColor;   
  }
@mixin mail-icon-before {
        content: '';
        position: absolute;
        left: 7px;
        top: -4px;
        width: 1px;
        height: 10px;
        background-color: currentColor;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: rotate(-54deg);
        transform: rotate(-54deg);
}
@mixin mail-icon-after {
        content: '';
        position: absolute;
        left: 7px;
        top: -4px;
        width: 1px;
        height: 10px;
        background-color: currentColor;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: rotate(54deg);
        transform: rotate(54deg);
}


// Location icon
@mixin pin-icon($color) {
        color: $color;
        position: absolute;
        margin-left: 4px;
        margin-top: 2px;
        width: 12px;
        height: 12px;
        border: solid 1px currentColor;
        border-radius: 7px 7px 7px 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
}
              
@mixin pin-icon-before {
        content: '';
        position: absolute;
        left: 3px;
        top: 3px;
        width: 4px;
        height: 4px;
        border: solid 1px currentColor;
        border-radius: 3px;
}

// Check icon
@mixin check-icon($color) {
        color: $color;
        position: absolute;
        margin-left: 3px;
        margin-top: 4px;
        width: 18px;
        height: 8px;
        border-bottom: solid 1px currentColor;
        border-left: solid 1px currentColor;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      
      
  
  