.row-all-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-horizontal-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}