// Curvy background Svg styles
@mixin curvyBackgroundSVG ($leftValue, $rightValue) {
    position: absolute;
    right: $rightValue;
    left: $leftValue;
}

#curvyBackgroundCircle {
    @include curvyBackgroundSVG(unset, 1%)
}

#curvyBackgroundTrumpet {
    @include curvyBackgroundSVG(0%, unset)
}

// **************************************************************************************
// Vertical triangles

.triangleDecorationLeft {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 680px 35px 0 0;
    border-color: $lightpinkgradient transparent transparent transparent;
}

.triangleDecorationRight {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 680px 0;
    border-color: transparent $lightpinkgradient transparent transparent;
    
}

// **************************************************************************************
// Horizontal black separator line
// Set height to 0 for horizontal separators

@mixin separatorLine($widthValue,$heightValue, $borderHeightValue, $borderRadiusValue, $borderColorValue) {
    width: $widthValue;
    height: $heightValue;
    border: solid $borderHeightValue $borderColorValue;
    border-radius: $borderRadiusValue;
}

.blackHorizontalSeparator {
    @include separatorLine(190px, 0px, 2px, 0px, #000000)
}

.fullBlackHorizontalSeparator {
    @include separatorLine(1247px, 0px, 3px, 0px, #000000)
}

.verticalGreySeparator {
    @include separatorLine(0px, 516px, 1px, 0px, $middleGrey)
}

// Footer vertical separator
.footerSeparator {
    @include separatorLine(0px, 141px, 1px, 0px, $middleGrey)
}

// **************************************************************************************
// Colored full width horizontal separator

.coloredSeparator {
    width: 100%;
    height: 0.7em;
    background-image: linear-gradient(to right, $lightpinkgradient, $darkerpinkgradient 100%);
}

// **************************************************************************************
// Buttons

@mixin coloredButton ($btnWidth, $btnHeight, $borderRadiusValue, $borderRadiusColor, $backgroundColorValue) {
    width: $btnWidth;
    height: $btnHeight;
    border-radius: $borderRadiusValue;
    border: solid 1px $borderRadiusColor;
    background-color: $backgroundColorValue;
}

@mixin coloredButtonText ($fontSizeValue, $textColorValue) {
    font-family: FrutigerLTStd sans-serif;
    font-size: $fontSizeValue;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: $textColorValue;
}

.whiteButton {
    @include coloredButton(233px, 50px, 31.5px, $middleGrey, #ffffff)
}

.whiteButtonTxt {
    @include coloredButtonText(16px,#000000)
}

.strawberryButton {
    @include coloredButton(231px, 60px, 31.5px, $strawberry, $strawberry)
}

.strawberryButtonTxt {
    @include coloredButtonText(18px,#ffffff)
}

.blackButton {
    @include coloredButton(184px, 50px, 31.5px, $middleGrey, #000000)
}

.blackButtonTxt {
    @include coloredButtonText(16px,#ffffff)
}

// Canceling chrome button default behaviour (need to think about interactivity !)
.whiteButton:focus, .strawberryButton:focus, .blackButton:focus {
    outline: none;
} 

// **************************************************************************************
// Select

.select-css {
	display: block;
	font-size: 24px;
    font-family: FrutigerLTStd-Roman;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
	color: #000000;
	padding: .6em 1.4em .5em 2.8em;
    width: 282px;
    height: 65px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #979797;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 32.5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #ffffff;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Feather-arrows-chevron-down.svg/1200px-Feather-arrows-chevron-down.svg.png');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: 1em auto, 100%;
}

.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	border-color: #888;
}

.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.select-css option {
	font-weight:normal;
}