.strawberry-text {
    font-family: 'FrutigerLTStd', sans-serif;
    font-weight: bold;
    color: $strawberry;
}

.strawberry-text-big {
    font-family: 'BodoniSvtyTwoITCTT', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: $strawberry;
}

.bold-text {
    font-family: 'FrutigerLTStd', sans-serif;
    font-weight: bold;
}