#Event-infos-component {
  h5 {
    font-family: "AvenirNext", sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0;
  }
  .info-icon-container {
    font-family: "FrutigerLTStd", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: $text-article;
    display: flex;
    align-items: baseline;
    margin: 2em 0em;
    div {
      display: flex;
      align-items: baseline;
      margin-right: 2em;
    }
    img {
      height: 14px;
      margin-right: 0.5em;
    }
  }
  .show-content {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #000000;
    p {
      font-family: "FrutigerLTStd-Roman", sans-serif;
    }
  }
  .event-infos-time-and-price-container {
    display: flex;
    margin: 3% 0em;
    p {
      font-family: "AvenirNext", sans-serif;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    div {
      margin-right: 1em;
    }
    .show-hours {
      display: flex;
      align-items: baseline;
      margin-right: 3em;
    }
    .show-price {
      display: flex;
      align-items: baseline;
    }
  }
}
