#Event-infos-component {
  .home-margin-top-btn {
    margin-top: 2%;
  }
  .events-pages-margin-top-btn {
    margin-top: 8%;
  }
  h5 {
    font-family: "AvenirNext", sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #000000;
    margin: 0;
  }
  .info-icon-container {
    font-family: "FrutigerLTStd", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.79;
    color: $text-article;
    display: flex;
    align-items: baseline;
    margin: 2em 0em;
    div {
      display: flex;
      align-items: baseline;
      margin-right: 2em;
    }
    img {
      height: 14px;
      margin-right: 0.5em;
    }
  }
  .show-content {
    font-size: 14px;
    line-height: 1.79;
    color: #000000;
    p {
      font-family: "FrutigerLTStd-Roman", sans-serif;
    }
  }
  .event-infos-masterclass-artist {
    font-family: "FrutigerLTStd-Roman", sans-serif;
  }
  .event-infos-time-and-price-container {
    display: flex;
    p {
      font-family: "AvenirNext", sans-serif;
      font-size: 22px;
      font-weight: bold;
      color: #000000;
    }
    div {
      margin-right: 1em;
    }
    .show-hours {
      display: flex;
      align-items: baseline;
      margin-right: 3em;
    }
    .show-price {
      display: flex;
      align-items: baseline;
    }
  }
  @media all and (max-width: 450px) {
    .events-pages-margin-top-btn {
      margin-top: 2%;
    }
    margin-top:5%;
    h5 {
      font-size: 25px;
    }
    .show-content {
      p {
        width: 90%;
      }
    }
  }
}
