#Gallery-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  #Gallery-left-container {
    display: flex;
    flex-direction: column;
    img {
      width: 23rem;
      height: 35.58rem;
      margin: 0.7rem;
    }
  }
  #Gallery-right-container {
    display: flex;
    flex-direction: column;
    .gallery-right-container-images {
      display: flex;
      flex-direction: column;
      width: 31rem;
      height: 19.71rem;
      margin: 0.7rem;
      img {
        width: 31rem;
        height: 19.71rem;
        margin: 0.7rem;
      }
    }:first-child {
      img {
        margin-top: 0;
      }
    }
  }
}