.home-component {
    align-items: center;
    background: url('../../../../../assets/home-band-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    #home-band-main-logo {
        align-items: center;
        height: 50%;
        width: 50%;
        justify-content: center;
        z-index: 2;

        #banner-logo {
            margin-top: -45px;
        }
    }

    #jazzy {
        align-self: flex-start;
        margin-bottom: -50px;
        width: 45%;
    }

    #asso {
        align-self: flex-end;
        margin-top: -50px;
        width: 45%;
    }
}