#About-us-component {
    #About-us-presentation {
        .about-us-content {
            display: flex;
            .about-us-content-image {
                @media all and (min-width: 414px) {
                    width: 50%;
                }
                // temp css waiting for trumpet svg
                display: flex;
                justify-content: center;
                .article-image {
                    width: 80%;
                }
                .article-image-last {
                    width: 75%;
                }
            }
            .about-us-article {
                display: flex;
                flex-direction: column;
                @media all and (min-width: 414px) {
                    justify-content: space-around;
                    width: 50%;
                }
                .article-content, .article-header {
                    width: 80%;
                    text-align: initial;
                }
                .article-header {
                    font-family: 'FrutigerLTStd', sans-serif !important;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.72;
                    color: #000000;
                }
                .article-handwritting, .article-next-header {
                    font-family: 'BradleyHandITCTT', sans-serif !important;
                    font-size: 34px;
                    color: $strawberry;
                    text-align: left;
                    width: 80%;
                }
                .article-content {
                    font-family: 'FrutigerLTStd', sans-serif !important;    
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.5;
                    color: $text-article;
                }
            }
            // Second part
            #Article-second-part {
                justify-content: unset !important;
                align-items: center !important;
                margin-top: -2rem;
            }
        }
    }
    @media all and (max-width: 414px) {
        .about-us-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .about-us-content .about-us-content-image,
        .about-us-content .about-us-article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}