#Association-bg-banner {
    display: flex;
    flex-direction: column;
    height: 582px;
    width: 100%;
    #Association-banner-image {
        background: url('../../../../../assets/association-banner.jpg');
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        #Association-title {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-family: BodoniSvtyTwoITCTT;
            font-size: 128px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }
    }
}
#testBg {
    background-image: url(../../../../../assets/customSVG/curvy-bg-test.svg);
}