@import '@/styles/_icons.scss';
#footer {
    align-items: center;
    background-color: #0e0e0e;
    border-top: 11px solid #fd2232;
    display: flex;
    flex-direction: row;
    font-family: 'text-font';
    justify-content: space-evenly;
    height: 200px;
    width: 100%;

    .section {
        border-right: 1px solid white;
        color: white;
        display: flex;
        height: 70%;
        width: 30%;

        .first-section-logos {
            width: 120px;

            #banner-logo {
                margin-top: -18px;
            }
        }

        .first-section-links {
            text-align: start;
            width: 50%;

            .links-list {
                list-style: none;
                
                li {
                    margin-top: 5%;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        .footer-contact {
            flex-direction: column;
            width: 100%;

            p {
                margin-left: 20%;
                text-align: start;
                width:100%;
            }

            .footer-club-location {
                flex-direction: row;
                .pin-icon {
                    @include pin-icon(white);
                }
                .pin-icon:before {
                    @include pin-icon-before;
                }
            }

            .footer-email-contact {
                flex-direction: row;
                .mail-icon {
                    @include mail-icon(white);
                }
                .mail-icon:before {
                    @include mail-icon-before;
                }
                .mail-icon:after {
                    @include mail-icon-after;
                }
            }
        }
        .footer-social-media {
            flex-direction: column;
        }
    }:last-child {
        border-right: none;
    }
}