#Footer-container {
  .footer-ticket-booking {
    align-items: center;
    box-shadow: 0px -1px 5px $middleGrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    .footer-ticket-booking-first-paragraph {
      font-size:22px;
      margin-bottom: 0;
    }
    .footer-ticket-booking-second-paragraph {
      color: $middleGrey;
      font-size: 14px;
      margin-top: 0;
      span {
        color: $strawberry;
      }:last-child {
        color: black;
      }
    }
  }
  .footer-sections {
    align-items: center;
    background-color: #0e0e0e;
    border-top: 11px solid #fd2232;
    display: flex;
    flex-direction: row;
    font-family: 'FrutigerLTStd', sans-serif !important;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;

    .section {
      border-right: 1px solid white;
      color: white;
      display: flex;
      height: 70%;
      width: 30%;

      a {
        color: white;
        text-decoration: none;
      }

      .first-section-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        @media all and (min-width: 769px) {
          width: 120px;
        }
      }

      .first-section-links {
        text-align: start;
        width: 50%;

        .links-list {
          list-style: none;

          li {
            margin-top: 5%;
          }
        }
      }
      .footer-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p,
        a {
          text-align: start;
        }
        .footer-club-location {
          
          div {
            width: 15%;
            #location-icon {
              width: 20px;
            }
          }
        }
        .footer-email-contact {
          div {
            width: 15%;
            #mail-icon {
              width: 20px;
            }
          }
          text-align: start;
        }
      }
      @media all and (min-width: 414px) {
        .half-width-white-border-top {
          display: none;
        }
      }
      .footer-social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        @media all and (min-width: 414px) {
        img {
          width: 24px;
          height: 24px;
        }
      }
        a {
          margin-left: 10%;
          align-self: flex-end;
        }
        .footer-instagram,
        .footer-facebook {
          display: inherit;
        }
      }
    }
    :last-child {
      border-right: none;
    }
  }

  @media all and (min-width: 414px) and (max-width: 768px) {
    .first-section-links {
      display: none;
    }
    .first-section-logos {
      width: 100%;
      .girls-and-banner-logo {
        width: 150px;
      }
    }
  }

  @media all and (max-width: 414px) {
    .footer-ticket-booking {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 5%;
    }
    .footer-sections {
      flex-direction: column;
      height: auto;
      .section {
        border-right: none;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        .footer-contact .footer-club-location,
        .footer-contact .footer-email-contact {
          display: flex;
          align-items: center;
          flex-direction: column;
          p, a {
            padding-top: 2%;
            text-align: center;
          }
          div #mail-icon,
          div #location-icon {
            width: 30px;
          }
        }
        .footer-social-media .footer-instagram,
        .footer-social-media .footer-facebook {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-top: 5%;
          a {
            align-self: center;
            margin-left:0;
            padding-top: 2%;
          }
        }
      }
      .footer-social-media {
        img {
          width: 30px;
          height: 30px;
        }
      }
      .footer-social-media-section {
          display: flex;
          align-items: center;
          flex-direction: column;
      }
    }
    .first-section-links {
      display: none;
    }
    .first-section-logos {
      width: 100%;
      .girls-and-banner-logo {
        width: 180px;
      }
    }
  }
}
