#app {
    -webkit-font-smoothing: 'text-font';
    -moz-osx-font-smoothing: 'text-font';
    text-align: center;
    color: $strawberry;
    margin-top: 60px;
    font-family: 'text-font' !important;
}
img {
    width: 50%;
}
h1, h2, h3, h4 {
    font-family: 'title-font' !important;
}