#Master-classes-page {
  overflow: hidden;
  margin-bottom: 5%;
  #Masterclasses-page-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .masterclass-item {
      margin-top: 5%;
    }
  }
  .master-classes-page-placeholder {
    text-align: center;
    width: 100%;
    font-size: 26px;
    font-style: italic;
  }
}
