@import '@/styles/_icons.scss';
.background {
  background-image: url('../../../../assets/customSVG/curvy-bg-testHome.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  h3, h4 {
    font-size: 26px;
    letter-spacing: 0.5px;
  }
  h4 {
    white-space: nowrap;
  }
  p {
    font-size: 16px;
    font-family: 'FrutigerLTStd', sans-serif !important;
  }

  .home-circle-version {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .text-part {
      margin-left: 10%;
      margin-top: 6%;
      margin-bottom: 6%;
      text-align: start;
      width: 50%;
      h3 {
        margin-bottom: 0;
      }
      h4 {
        margin-top: 2%;
      }
      .members-list {
        list-style: none;
        padding-left: 0;
        li {
          padding-top: 3%;
          font-size: 18px;
          span {
            font-family: 'FrutigerLTStd', sans-serif !important;
          }
          .check-icon {
            @include check-icon(white);
          }
          .list-text {
            margin-left: 10%;
          }
        }
      }
    }
    .img-part {
      width: 40%;
      position: absolute;
      left: 0;
      img {
        width: 65%;
        margin-left: 20%;
        margin-top: 20%;
      }
    }
    .circle-icon {
      @include curvyBackgroundSVG(unset, 1%);
    }
  }

  .home-trumpet-version {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .trumpet-icon {
      @include curvyBackgroundSVG(0%, unset);
    }
    .text-part {
      padding-top: 5%;
      padding-bottom: 5%;
      margin-left: 10%;
      width: 50%;
      .text-part-paragrah {
        margin-bottom: 2%;
      }
    }
    .text-part > *{
      width: 70%;
      text-align: start;
      margin-left: 10%;
      line-height: 1.6;
    }
    .img-part {
      margin-right: 10%;
      padding-bottom: 5%;
      padding-top: 5%;
      justify-content: flex-start;
      width: 40%;
      img {
        width: 80%;
        margin-right: 10%;
      }
    }
  }
  @media all and (max-width: 450px) {
    background-size: 100% 450px;
    height: 450px;
    .home-circle-version, .home-trumpet-version {
      .text-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin:15% 0 0 0;
        padding: 0;
        h3 {
          margin:0;
        }
        h4 {
          margin: 1rem 1rem 0 1rem;
          text-align: center;
        }
        .text-part-paragrah {
          margin-bottom: 0;
        }
        p {
          width: 90%;
          margin-left: 0;
        }
        ul {
          margin-top: 12%;
          width: 90%;
        }
      }
      .img-part-desktop {
        display: none;
      }
    }
  }
}