.header-club-main {
    display: flex;
    flex-direction: column;
    
    
    .img-header-club{
        background: url('../../../../../assets/club-page-assets/bitmap.png')no-repeat center ;
        min-height: 36rem;

        h1 {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-family: 'BodoniSvtyTwoITCTT', sans-serif !important;
            font-size: 128px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff; 
            position: absolute;
            top: 48%;
            left: 37%;
        
        }
    }
}
    