#Offers-component {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .offers-trumpet-icon {
    width: 10%;
  }
  .offers-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .offers-content-img {
      width: 40%;
      img {
        width: 90%;
      }
    }
    .offers-content-infos {
      width: 40%;
      h4 {
        font-size: 32px;
      }
      p, span {
        font-family: 'FrutigerLTStd', sans-serif !important;
        font-size: 18px;
        margin-bottom: 8%;
        strong {
          font-weight: bolder;
        }
        span {
          color: $text-article;
          font-style: italic;
          font-weight: lighter;
        }
      }
      .offers-content-infos-second-paragraph {
        color: $strawberry;
      }
    }
  }
  @media all and (max-width: 450px) {
    .offers-trumpet-icon {
      display: none;
    }
    .offers-content {
      display: flex;
      flex-direction: column;
      width: 90%;
      .offers-content-img {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          max-height: 250px;
        }
      }
      .offers-content-infos {
        width: 100%;
        .offers-content-btn {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}