#Header-container {
  .navList {
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: "bod72b", sans-serif !important;
    justify-content: space-evenly;
    list-style: none;
    padding-inline-start: 0;
    .headerLogo {
      height: 63px;
      object-fit: contain;
      width: 229px;
    }
    .navItem {
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
      a {
        color: #393939;
        letter-spacing: 1.2px;
        text-decoration: none;
      }
      &::first-letter {
        font-size: 20px;
      }
      a:hover {
        color: $strawberry;
      }
    }
  }
  @media all and (min-width: 769px) {
    .headerBurger {
      display: none;
    }
  }
  @media all and (max-width: 768px) and (min-width: 450px) {
    .navList {
      align-items: center;
      .navItem {
        display: none;
      }
      .headerBurger {
        margin-left: -15%;
        cursor: pointer;
        display: flex;
        width: 20%;
        img {
          width: 60px;
        }
      }
    }
  }
  @media all and (max-width: 450px) {
    .navList {
      align-items: center;
      .navItem {
        display: none;
      }
      .headerBurger {
        margin-left: 1%;
        cursor: pointer;
        display: flex;
        img {
          width: 40px;
          height: auto;
        }
      }
    }
  }
}
